<include file="./Template/public/header.html" />

		<!-- header end -->
		<div class="main">
			<div class="pub_detail">
				<if condition="($asset['AssetsStatue'] eq 8) OR (($source eq 1) AND comper_time($asset['AuctionEnds']))"><div class="mask-buy" id="mask-buy"><span><img src="__PUBLIC__/images/common/chengjiao.png"></span></div></if>

				<div class="box1">
					<div class="name">{$asset.title}</div>
					<div class="time">发布时间：{$asset.CreateTime}</div>
					<div class="line">
						<ul>
							<li><i class="iconfont">&#xe6ed;</i><em>{:empty($asset['ViewCount'])?"0":$asset['ViewCount']}</em>人看过</li>
							<li class="share"><i class="iconfont">&#xe67e;</i><em>{:empty($asset['ShareCount'])?"0":$asset['ShareCount']}</em>次分享</li>
							<li class="last"><i class="iconfont">&#xe604;</i><em>{:empty($asset['BuyCount'])?"0":$asset['BuyCount']}</em>人付款</li>
						</ul>
					</div>
					<div class="btn1 active">
						<span class="sale">
						<a href="{:U('Home/lists/content',array('AssetsID'=>$asset['AssetsID'],'card'=>authcode(session('user.MemberId'),'ENCODE'),'typepay'=>'ccc'))}" class="buy2" ><if condition="$source eq 1" >查看评估报告<else/>查看尽调报告</if></a>
							</span>
						<span class="share"><a href="javascript:void(0);" class="share-btn" >分享</a>
								<div class="bdsharebuttonbox">
									<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
									<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
									<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
								</div>
						</span>
					</div>
					<div class="agreen"><input type="checkbox" name="agreen" checked="" id="che">我已阅读并同意
						<a href="{:U('Home/Index/buypro')}">《尽调报告购买协议》</a>
					</div>
				</div>
				
				
				
				<div class="box2">
					<div class="fl"><img src="__PUBLIC__/images/common/detail_07.jpg"></div>
					<div class="con">
						<if condition="$asset['PayModes']  eq 0">
							<ul>
								<li><b>资产评估：</b><em class="info_num numtenhousand">{$asset.price} 元</em></li>
								<li><b>资产来源： </b><em>{$asset.source}</em></li>
								<li><b>资产处置方式：</b><em>{$asset.processmodle}</em></li>
								<li><b>资产地址： </b><em>{:explode("|",$asset['address'][0])[1]}{:explode("|",$asset['address'][1])[1]}{$asset.address.2}</em></li>
								<li><b><if condition="$source eq 6">资产月租价格<else/>资产出售价格</if>：</b><em class="info_num numtenhousand">{$asset.proprice}  元</em></li>
								<li><b>使用现状：</b><em>{$asset.Usestat}</em></li>
								<li><b>折      扣：</b><em>{:round(($asset['proprice']/$asset['price']),4)*100}%</em></li>
								<li><b>资产状态：</b><em>{$asset.statue}</em></li>
								<li><b>资产类别：</b><em>{$asset.assetstype}</em></li>
								<li><b>是否存在权属纠纷：</b><em>{$asset.isinissue}</em></li>

							</ul>
							<else />
							<ul>
								<li><b>市场价值：</b><em class="info_num numtenhousand">{$asset.price} 元</em></li>
								<li><b>资产来源： </b><em>{$asset.source}</em></li>
								<li><b>资产处置方式：</b><em>{$asset.processmodle}</em></li>
								<li><b>资产地址： </b><em>{:explode("|",$asset['address'][0])[1]}{:explode("|",$asset['address'][1])[1]}{$asset.address.2}</em></li>
								<li><b>起拍价格：</b><em class="info_num numtenhousand">{$asset.proprice}  元</em></li>
								<li><b>使用现状：</b><em>{$asset.Usestat}</em></li>
								<li><b>折      扣：</b><em>{:round(($asset['proprice']/$asset['price']),4)*100}%</em></li>
								<li><b>资产状态：</b><em>{$asset.statue}</em></li>
								<li><b>资产类别：</b><em>{$asset.assetstype}</em></li>
								<li><b>是否存在权属纠纷：</b><em>{$asset.isinissue}</em></li>

								<li><b>保留价格：</b><em class="info_num numtenhousand">{$asset.ReservePrices}元</em></li>
								<li><b>保  证  金：</b><em class="info_num numtenhousand">{$asset.Bonds}元</em></li>
								<li><b>拍卖起始时间：</b><em>{:date('Y-m-d',strtotime($asset['AuctionStarts']))}</em></li>

								<li><b>付款方式：</b><em><if condition="$asset['PayModes']  eq 1">全款<else />按揭</if></em></li>

							</ul>
						</if>
					</div>
				</div>
				<div class="box2">
					<pre class="fl introduce div_scroll"><p>{$asset.AssetsDesc}</p></pre>
					<div class="fr"><img src="__PUBLIC__/images/common/detail_11.jpg"></div>
				</div>
				<div class="box3">
					<div class="title"><img src="__PUBLIC__/images/common/detail_15.jpg"></div>
					<pre class="con div_scroll"><p>{$asset.ReportDesc}</p></pre>
				</div>
				<div class="box4">
					<div class="title"><img src="__PUBLIC__/images/common/detail_18.jpg"></div>
					<div class="con">
						<volist name="asset.Images" id="imgs">
							<img src="{:imgpublic($imgs)}?imageView2/2/w/900">
						</volist>
					</div>
				</div>
				<div class="star">
					<form action="{:U('Home/Lists/gediss')}" method="post" id="doForm">
						<div class="content">

							<div class="goods-comm"><b>评价等级：</b>
								<em>
									<div id="targetText-demo" class="target-demo"></div>
									<div id="targetText-hint" class="hint"></div>
								</em></div>

							<div class="l_text"><b>评价内容：</b><em><textarea name="Content" rows="" cols="" placeholder="说说你的看法"></textarea></em></div>
							<div class="btn"  id="sub_mit">
								<input type="hidden" name="type" value="aset">
								<input type="hidden" name="BelongTO" value="{$asset.AssetsID}">
								<a>发布</a>
							</div>

						</div>
					</form>

					<include file="page" />

				</div>


			</div>
			
			
		</div>
<div class="mask" id="mask">
	<div class="apply_content">
		<div class="agent-tan">
			<form action="{:U('Home/Lists/dofinan',array('type'=>'assets',buyid =>$asset['AssetsID']))}" method="post" id="dddd">
				<div class="title"><h2>申请配资</h2> <em id="close">X</em></div>
				<ul>
					<li><em>项目名称：</em><b>{$asset.title}</b></li>
					<li><em>项目所在地区：</em><b>{:explode("|",$asset['address'][0])[1]}{:explode("|",$asset['address'][1])[1]}</b></li>
					<li><em>项目整体购买金额：</em><b class="numtenhousand">{$asset.proprice}  元</b></li>
					<li><em>拟配资金额：</em><b><input type="text" class="form-control" id="request_quanlity" name="request_quanlity" nullmsg="请填写拟配资金额" /></b></li>
					<li><em>申请主体名称：</em><b><input type="text" class="form-control" id="contact_name" name="contact_name" nullmsg="请填申请主体名称"  /></b></li>
					<li><em>联系电话：</em><b><input type="text" class="form-control" id="contact_phone" name="contact_phone" nullmsg="请填写联系电话"  /></b></li>
				</ul>
				<div  class="submit">
					<input class="btn" type="submit" id="sub_mitfinan" value="提交"/>
				</div>
			</form>
		</div>

	</div>

</div>

<include file="./Template/public/footer.html" />
<script src="{:tempurl('__PUBLIC__/js/easyscroll.js')}"></script>
<script src="{:tempurl('__PUBLIC__/js/mousewheel.js')}"></script>
<script type="text/javascript" src="{:tempurl('__PUBLIC__/js/jquery.raty.js')}"></script>
<script type="text/javascript" src="{:tempurl('__PUBLIC__/js/jquery.pagination.js')}"></script>
<script type="text/javascript">

	$(function() {
		$('.div_scroll').scroll_absolute({
			arrows: true
		})
	});
</script>
<script>
	$(function(){
		$("#apply").click(function(){
			$("#mask").show();
		});
		$("#close").click(function(){
			$("#mask").hide();
		})

	})
</script>
<script type="text/javascript" charset="utf-8" src="{:tempurl('__PUBLIC__/js/Validform_v5.3.2_min.js')}"></script>
<script type="text/javascript">
	$(function(){
		//$(".registerform").Validform();  //就这一行代码！;

		var demo=$("#dddd").Validform({
			tiptype:3,
			label:".label",
			btnSubmit:'#sub_mitfinan',
			showAllError:true,
			datatype:{
				"zh1-6":/^[\u4E00-\u9FA5\uf900-\ufa2d]{1,6}$/
			},
			//默认为false，使用ajax方式提交表单数据，将会把数据POST到config方法或表单action属性里设定的地址；
			ajaxPost:false,
			postonce:true,
		});

		//通过$.Tipmsg扩展默认提示信息;
		//$.Tipmsg.w["zh1-6"]="请输入1到6个中文字符！";
		demo.tipmsg.w["zh1-6"]="请输入1到6个中文字符！";
		demo.tipmsg.r=" ";
		demo.addRule([
			{
				ele:"#request_quanlity",
				datatype:"n"
			},
			{
				ele:"#contact_phone",
				datatype:"m"
			},
			{
				ele:"#contact_name",
				datatype:"*"
			}
		]);

	})
</script>
<script type="text/javascript">
	$(function() {
		$('.div_scroll').scroll_absolute({
			arrows: true
		});
		$('#targetText-demo').raty({
			target: '#targetText-hint',
			targetText: ''

		});
		var initPagination = function() {
			var num_entries = $("#hiddenresult div.rated").length;
			// 创建分页
			$("#Pagination").pagination(num_entries, {
				num_edge_entries: 1, //边缘页数
				num_display_entries: 4, //主体页数
				callback: pageselectCallback,
				prev_text:'上一页',
				next_text:'下一页',
				items_per_page:2, //每页显示1项
			});
		}();

		function pageselectCallback(page_index, jq){
			// 从表单获取每页的显示的列表项数目
			var items_per_page = 2;
			var pp = page_index+1;
			var max_elem = pp* items_per_page;
			$("#Searchresult").html("");
			// 获取加载元素
			for(var i=page_index*items_per_page;i<max_elem;i++){
				var new_content = $("#hiddenresult div.rated:eq("+i+")").clone();
				$("#Searchresult").append(new_content); //装载对应分页的内容
			}
			//阻止单击事件
			return false;

		}
	});
</script>
<script  type="text/javascript">
	$(function() {
		$("#sub_mit").click(function(){
			var formurl = $('#doForm').attr("action");
			$.ajax({
				cache: false,
				type: "POST",
				url:formurl,
				data:$('#doForm').serialize(),// 你的formid
				async: true,
				error:function(request){
				},
				beforeSend:function(){},
				success:function(data){
					if(data.info== ""||data.info==undefined){
						filterWarn("请登陆后在来评论");
						return false;
					}
					if(data.info=="login"){
						top.location=data.url;
					}

					filterWarn(data.info);


				},

			});
		});
		return false;
	})
</script>
<script>
	window._bd_share_config = {
		"common": {
			"bdSnsKey": {},
			"bdText": "特金汇—"+"{$asset.title}",
			"bdMini": "2",
			"bdPic": "",
			"bdStyle": "0",
			"bdSize": "16"
		},
		"share": {}
	};
	with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
</script>
<script type="text/javascript">
	$("#sut").click(function(){
		var cc= $("#day").val();
		if(/^[0-9]+([.]{1}[0-9]+){0,1}$/.test(cc)&&cc>=7){
		}else {
			filterWarn("买断天数最少一个星期");
			return false;
		}

		if($('#che').is(':checked')) {
			$("#deal").submit();
			// do something
		}else {
			filterWarn("你没有同意协议");
		}

	});
</script>

	</body>
</html>
