

/*@font-face {font-family: "iconfont";
  src: url('https://static.resource.tejinhui.com/static/fonts/iconfont.eot?te=1484895014879'); 
  src: url('https://static.resource.tejinhui.com/static/fontsiconfont.eot?te=1484895014879#iefix') format('embedded-opentype'), 
  url('https://static.resource.tejinhui.com/static/fonts/iconfont.woff?te=1484895014879') format('woff'), 
  url('https://static.resource.tejinhui.com/static/fonts/iconfont.ttf?te=1484895014879') format('truetype'), 
  url('https://static.resource.tejinhui.com/static/fonts/iconfont.svg?te=1484895014879#iconfont') format('svg'); 
}*/


/*@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1495529674673'); 
  src: url('iconfont.eot?t=1495529674673#iefix') format('embedded-opentype'), 
  url('iconfont.woff?t=1495529674673') format('woff'), 
  url('iconfont.ttf?t=1495529674673') format('truetype'), 
  url('iconfont.svg?t=1495529674673#iconfont') format('svg'); 
}*/

@font-face {
  font-family: 'iconfont';  /* project id 14304 */
  src: url('//at.alicdn.com/t/font_spz7iqh602ju4n29.eot');
  src: url('//at.alicdn.com/t/font_spz7iqh602ju4n29.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_spz7iqh602ju4n29.woff') format('woff'),
  url('//at.alicdn.com/t/font_spz7iqh602ju4n29.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_spz7iqh602ju4n29.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche:before { content: "\e60b"; }

.icon-fukuan:before { content: "\e604"; }

.icon-guanbi:before { content: "\e60e"; }

.icon-tousujianyi:before { content: "\e615"; }

.icon-mingpian:before { content: "\e602"; }

.icon-dingwei:before { content: "\e639"; }

.icon-fenxiang:before { content: "\e67e"; }

.icon-tixian:before { content: "\e601"; }

.icon-dingdan1:before { content: "\e69b"; }

.icon-tuichudenglu:before { content: "\e632"; }

.icon-shopcart:before { content: "\e605"; }

.icon-iconwozhanghu:before { content: "\e606"; }

.icon-woyaofabu:before { content: "\e673"; }

.icon-guanzhu:before { content: "\e714"; }

.icon-9:before { content: "\e608"; }

.icon-zijin:before { content: "\e600"; }

.icon-banshichaxun:before { content: "\e631"; }

.icon-views:before { content: "\e6ed"; }

.icon-shuju:before { content: "\e60a"; }

.icon-peixun1:before { content: "\e641"; }

.icon-dingdan:before { content: "\e603"; }

.icon-fabu:before { content: "\e625"; }

.icon-tuichudenglu1:before { content: "\e660"; }

.icon-sanjiaoxingxiangyou:before { content: "\e695"; }

.icon-yinsiwenti_yiqueren:before { content: "\e620"; }

.icon-xinshouzhiyin-:before { content: "\e630"; }

.icon-peixun:before { content: "\e627"; }

.icon-hehuoren:before { content: "\e60c"; }

.icon-xiangmu:before { content: "\e607"; }


