<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<link rel="stylesheet" href="{:tempurl('__PUBLIC__/style/bootstrap.min.css')}" />
	<link rel="stylesheet" href="{:tempurl('__PUBLIC__/style/iframe.css')}" />

	<body>

		<div class="mainhtml">
			<div class="mainhtml_c">
				<div class="fr">
					<include file="./Template/public/userpro.html" />
					<div class="todo floor mt70">
						<div class="title">找回密码</div>
						<form action="{:U('User/Login/password')}" method="post" id ="doform">
						<div class="getpassword">
							<div class="con">
								<ul>
									<li><b>原密码：</b><em><input type="password" name = "wpass" class="form-control"></em></li>
									<li><b>新密码：</b><em><input type="password" name="Password" class="form-control" placeholder="6-16位密码"></em></li>
									<li><b>确认新密码：</b><em><input type="password" name="dpass" class="form-control" placeholder="请再次输入新密码"></em></li>

								</ul>

							</div>
							<div class="submit_btn">
								<a id="sub_mit" >提交</a>
							</div>
						</div>
						</form>
					</div>

				</div>
			</div>
		</div>
		<script src="{:tempurl('__PUBLIC__/js/jquery-1.11.1.js')}"></script>
		<script src="{:tempurl('__PUBLIC__/js/main.js')}"></script>
	<script type="text/javascript">
		$("#sub_mit").click(function(){
			var formurl =$("#doform").attr("action");
			$.ajax({
				cache: false,
				type: "POST",
				url:formurl,
				data:$('#doform').serialize(),// 你的formid
				async: true,
				error:function(request){
				},
				beforeSend:function(){},
				success:function(data){
					if(data.status==1){
						filterWarn(data.info);
						window.location.href=data.url;
					}else {
						filterWarn(data.info);
					}
				},

			});
		});
	</script>
	</body>

</html>