<include file="./Template/public/header.html" />

		<div class="main">
			<div class="pub_detail">
				<if condition="($asset['AssetsStatue'] eq 8) OR (($source eq 1) AND comper_time($asset['AuctionEnds']))"><div class="mask-buy" id="mask-buy"><span><img src="__PUBLIC__/images/common/chengjiao.png"></span></div></if>
				<div class="box1">
					<div class="name">{$asset.title}</div>
					<div class="time">发布时间：{$asset.CreateTime}</div>
					<div class="line">
						<ul>
							<li><i class="iconfont">&#xe6ed;</i><em>{:empty($asset['ViewCount'])?"0":$asset['ViewCount']}</em>人看过</li>
							<li class="share"><i class="iconfont">&#xe67e;</i><em>{:empty($asset['ShareCount'])?"0":$asset['ShareCount']}</em>次分享</li>
							<li class="last"><i class="iconfont">&#xe604;</i><em>{:empty($asset['BuyCount'])?"0":$asset['BuyCount']}</em>人付款</li>
						</ul>
					</div>
					<div class="btn1">
						<if condition="($asset['AssetsStatue'] neq 8) AND (($source neq 1) || !comper_time($asset['AuctionEnds']))">
							<if condition="($asset['AssetsStatue'] eq 4) AND ($downurl neq 88) AND ($asset['DueCreateMember'] neq session('user.MemberId'))" >
								<em class="price">¥{$proinfo.ViewPrice}</em><a href="{:U('User/Logic/buymic',array('type'=>'assets',buyid =>$asset['AssetsID']))}" class="buy">购买尽调报告</a>

							</if>
							<if condition="($freenum['freeCountzz'] neq -1) AND ($asset['AssetsStatue'] eq 4) AND ($downurl neq 88) AND ($asset['DueCreateMember'] neq session('user.MemberId')) ">
								<button class="btn2" id="freeread" href="{:U('Home/Lists/freeread',array('type'=>'assets',buyid =>$asset['AssetsID']))}">免费阅读（余<em id="freeCount">{$freenum.freeCount}</em>次）</button>
							</if>
							<if condition="(($downurl eq 88)  OR ($asset['DueCreateMember'] eq session('user.MemberId'))) AND ($asset['AssetsStatue'] eq 4)">
								<a href="{:U('User/Logic/downFile',array('type'=>'assets',buyid =>$asset['AssetsID']))}" class="buy" target="_blank">下载尽调报告</a>
								<if condition="($asset['AssetsStatue'] neq 7) AND ($asset['DueCreateMember'] neq session('user.MemberId'))">
									<span class="sale">
										<form method="get" action="{:U('User/Common/deal',array('type'=>'assets',buyid =>$asset['AssetsID']))}" id="deal">
											<em class="price">¥{$proinfo.BuyPrice}/天</em><a href="javascript:void(0);" class="buy">买断尽调报告</a>
											<div class="down">
												<span>
												<input type="text" class="form-control"  placeholder="买断天数" name="day" id ="day"/>
													<button  id="sut">购买</button>
												</span>
												<em>七天起买</em>
												<em>30天以上打八折</em>
											</div>
										</form>
									</span>
									<span class="sale">
										<a href="javascript:;" class="buy2" id="apply">申请配资</a>
									</span>
								</if>
							</if>
						</if>

					</div>

					<div class="agreen"><input type="checkbox" name="agreen" checked="" id="che">我已阅读并同意
						<a href="{:U('Home/Index/buypro')}">《尽调报告购买协议》</a>
					</div>
				</div>

			<div class="box4">
				<!--<div class="title"><img src="images/common/zcb_15.jpg"></div>-->
					<article id="pdfjs">
						<iframe id="pdf" src="{:U('Home/Lists/readview',array('fileurl'=>urlencode(imgpublic($asset['DescPdf']))))}" width="1000" height="500"></iframe>
					</article>


				</div>

				<div class="star">
					<div class="notice">以上是“<strong>{$asset.title}</strong>”项目的尽调报告部分内容，如果您对本项目感兴趣，请点击“购买尽调报告”购买后查看详细的尽调报告。</div>
				</div>

			</div>

		</div>
<include file="./Template/public/footer.html" />

<div class="mask" id="mask">
	<div class="apply_content">
		<div class="agent-tan">
			<form action="{:U('Home/Lists/dofinan',array('type'=>'assets',buyid =>$asset['AssetsID']))}" method="post" id="dddd">
				<div class="title"><h2>申请配资</h2> <em id="close">X</em></div>
				<ul>
					<li><em>项目名称：</em><b>{$asset.title}</b></li>
					<li><em>项目所在地区：</em><b>{:explode("|",$asset['address'][0])[1]}{:explode("|",$asset['address'][1])[1]}</b></li>
					<li><em>项目整体购买金额：</em><b class="numtenhousand">{$asset.proprice}  元</b></li>
					<li><em>拟配资金额：</em><b><input type="text" class="form-control" id="request_quanlity" name="request_quanlity" nullmsg="请填写拟配资金额" /></b></li>
					<li><em>申请主体名称：</em><b><input type="text" class="form-control" id="contact_name" name="contact_name" nullmsg="请填申请主体名称"  /></b></li>
					<li><em>联系电话：</em><b><input type="text" class="form-control" id="contact_phone" name="contact_phone" nullmsg="请填写联系电话"  /></b></li>
				</ul>
				<div  class="submit">
					<input class="btn" type="submit" id="sub_mitfinan" value="提交"/>
				</div>
			</form>
		</div>

	</div>

</div>
		<script>

			$(function(){
				$("#apply").click(function(){
					$("#mask").show();	
				});
				$("#close").click(function(){
					$("#mask").hide();	
				});
				$("#freeread").click(function(){
					var  formurl = $(this).attr("href");
					$.ajax({
						cache: false,
						type: "POST",
						url:formurl,
						data:$('#loginForm').serialize(),// 你的formid
						async: true,
						error:function(request){
						},
						beforeSend:function(){},
						success:function(data){
							if(data.status==1){
								$("#freeCount").html(data.info.freeCount);
								$("#pdf").attr('src',data.url);

								console.log(data);
							}else {
								filterWarn(data.info)
							}


						},
					});

				});

				
			})
		</script>

	</body>

</html>