<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="{$Think.session.keyword.keyword}" />
		<meta name="description" content="{$Think.session.keyword.desc}" />
		<link rel="icon" href="__PUBLIC__/images/bitbug_favicon.ico" mce_href="__PUBLIC__/images/bitbug_favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="__PUBLIC__/images/bitbug_favicon.ico" mce_href="__PUBLIC__/images/bitbug_favicon.ico" type="image/x-icon" />
		<title>余额变动</title>
		<link rel="stylesheet" href="{:tempurl('__PUBLIC__/mobile/style/mui.min.css')}">
		<link rel="stylesheet" href="{:tempurl('__PUBLIC__/mobile/style/user.css')}" />
		<link rel="stylesheet" href="{:tempurl('__PUBLIC__/mobile/style/iconfont.css')}" />
		<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<script src="{:tempurl('__PUBLIC__/mobile/js/jquery-1.7.2.min.js')}"></script>
		<script src="{:tempurl('__PUBLIC__/mobile/js/mui.min.js')}"></script>

	</head>

	<body>
		<div class="user">

			<div class="main">
				<volist name="list" id="vo">
				
				<div class="order-list">
					<ul>
						<li><span class="num">流水号：{$vo.SN}</span> <em class="i-info">{$vo.Remark}</em></li>
						<li><span>变动前：￥{$vo.PreIntegral}</span> <span class="line">|</span><span>变动后：￥{$vo.NxtIntegral}</span></li>
						<li> <span>变动值：<em class="i-info">￥{$vo.OffSetValue}</em></span><em >{$vo.CreateTime}</em></li>
						
					</ul>
				</div>
				</volist>

			</div>
		</div>

		<include file="./Template/mobile/public/mfooter.html" />
	</body>

</html>