<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<script src="{:tempurl('__PUBLIC__/js/jquery-1.11.1.js')}"></script>
	<script src="{:tempurl('__PUBLIC__/js/ZeroClipboard.js')}"></script>
	<link rel="stylesheet" href="{:tempurl('__PUBLIC__/style/bootstrap.min.css')}" />
	<link rel="stylesheet" href="{:tempurl('__PUBLIC__/style/iframe.css')}" />

	<body>

		<div class="mainhtml">
			<div class="mainhtml_c">
				<div class="fr">
					<include file="./Template/public/userpro.html" />
					<div class="recharge">
						<div class="title"><b>修改微信账户</b></div>
						<div class="con">
							<div class="saoma">
								<b><img src="{:U('User/Common/weicode')}"></b>
								<em>请用微信扫描此二维码</em>
							</div>
							
						
						
						
					
					</div>

				</div>
			</div>
		</div>

	</body>

</html>