<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="{$Think.session.keyword.keyword}" />
		<meta name="description" content="{$Think.session.keyword.desc}" />
		<link rel="icon" href="__PUBLIC__/images/bitbug_favicon.ico" mce_href="__PUBLIC__/images/bitbug_favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="__PUBLIC__/images/bitbug_favicon.ico" mce_href="__PUBLIC__/images/bitbug_favicon.ico" type="image/x-icon" />
		<title>订单管理</title>
		<link rel="stylesheet" href="{:tempurl('__PUBLIC__/mobile/style/mui.min.css')}">
		<link rel="stylesheet" href="{:tempurl('__PUBLIC__/mobile/style/user.css')}" />
		<link rel="stylesheet" href="{:tempurl('__PUBLIC__/mobile/style/iconfont.css')}" />
		<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<script src="{:tempurl('__PUBLIC__/mobile/js/jquery-1.7.2.min.js')}"></script>
		<script src="{:tempurl('__PUBLIC__/mobile/js/mui.min.js')}"></script>

	</head>

	<body>
		<div class="user">

			<div class="main">

				<volist name="lists" id="vo">
				<div class="order-list">
					<ul>
						<li><span class="num">订单编号：{$vo.sn}</span>
							<em class="i-info">
							<if condition="$vo['OrderStatue'] eq 1"> 待支付
								<elseif condition="$vo['OrderStatue'] eq 2"/>支付完成
								<elseif condition="$vo['OrderStatue'] eq 3"/> 退款申请中
								<elseif condition="$vo['OrderStatue'] eq 4"/> 已退款
								<elseif condition="$vo['OrderStatue'] eq 11"/> 已取消
							</if>
						</em>
						</li>
						<li><span>产品：{$vo.ProductName}</span> <em >¥{$vo.DealPrice}</em></li>
						<li>
							<span>订单类别：
						<if condition="($vo['Type'] eq 1)"> 发布信息
							<elseif condition="$vo['Type'] eq 2"/>购买信息
							<elseif condition="$vo['Type'] eq 3"/> 经济人费用
							<elseif condition="$vo['Type'] eq 4"/> 充值
							<elseif condition="$vo['Type'] eq 5"/> 买断信息
						</if>
						</span>
							<em >{$vo.CreateTime}</em>
						</li>
						<li class="btn">
							<if condition="$vo['OrderStatue'] eq 1">
								<a href="{:U('user/payment/index',array(
									'codekey'=>authcode($vo['id'],'ENCODE'),
									'type'=>authcode($vo['CodeValue'],'ENCODE'),
									'codetype'=>authcode($vo['type'],'ENCODE')
									))}" target="_parent">去支付</a>
								<a href="{:U('User/Logic/offorder',array('codekey'=>authcode($vo['id'],'ENCODE')))}">取消</a>
								<elseif condition="($vo['OrderStatue'] eq 2) AND ($vo['Type'] eq 1)" />
								<a href="{:U('User/Logic/orderout',array('codekey'=>authcode($vo['id'],'ENCODE'),'pid'=>authcode($vo['ProductID'],'ENCODE')))}">申请退款</a>
								<elseif condition="($vo['OrderStatue'] eq 2) AND ($vo['Type'] eq 5)" />
								<a href="{:U('User/Common/dealview',array('codekey'=>authcode($vo['id'],'ENCODE'),'pid'=>authcode($vo['ProductID'],'ENCODE')))}" target="_parent">查看买断信息</a>
								<elseif condition="($vo['OrderStatue'] eq 3)" />
								等待退款
								<elseif condition="($vo['OrderStatue'] eq 4)" />
								退款成功
								<elseif condition="($vo['OrderStatue'] eq 11)" />
								已取消
								<elseif condition="($vo['OrderStatue'] eq 2)" />
								付款成功
							</if>
							<if condition="(($vo['Type'] eq 2) AND ($vo['OrderStatue'] neq 11)) OR (($vo['Type'] eq 5) AND ($vo['OrderStatue'] neq 11))AND ($vo['OrderStatue'] neq 2)">
								<a href="{:U('User/Common/dealview',array('codekey'=>authcode($vo['id'],'ENCODE'),'pid'=>authcode($vo['ProductID'],'ENCODE')))}" target="_parent">查看信息</a>
							</if>
						</li>
					</ul>
				</div>
				</volist>
				
				
				
				
			</div>
		</div>

		<include file="./Template/mobile/public/mfooter.html" />
	</body>

</html>