<include file="./Template/public/header.html" />
	<style>
		#mainContainer{ top: 80px;}
	</style>


		<!-- header end -->
		<div class="report">
			<div class="main">
				<div class="banner auction"></div>
				<div class="box1">
					<div class="box1_c">
						<div class="fl"><img src="__PUBLIC__/images/common/paimai_05.jpg"></div>
						<div class="fr">
							<h1 class="auction">什么是拍卖资产？</h1>
							<div class="con">拍卖资产是指具有拍卖资质的机构将其法拍项目挂网“特金汇”平台，<br />
                          并委托特金汇进行推广的特殊资产项目。 </div>
                          <div class="auction-btn"><a href="{:U('Home/Lists/lists')}">点击进入资产拍卖>></a></div>
						</div>
					</div>
				</div>
				<div class="box2">
					<div class="box1_c">
						<div class="fl"><img src="__PUBLIC__/images/common/paimai_08.jpg"></div>
						<div class="fr">
							<h1 class="auction">为我们为您提供</h1>
							<div class="con">
								特金汇”每个拍卖项目均含有全面详细的评估资料。平台为拍卖资产提供项目展示以及推广，同时对项目提供详细的尽职调查服务。通过特金汇在线平台阅读拍卖资产项目的详细评估报
								同时对项目提供详细的尽职调查服务。通过特金汇在线平台阅读拍卖资产项目的详细评估报的进行大幅度的推广。让资产拍卖变得更放心。
							</div>
							<div class="auction-btn"><a href="{:U('Home/Lists/lists')}">点击进入资产拍卖>></a></div>
						</div>
					</div>
				</div>
			
			
			<div class="box5">
				<div class="logo"><img src="__PUBLIC__/images/common/paimai_11.jpg"></div>
				<div class="item"><img src="__PUBLIC__/images/common/paimai_14.jpg"></div>
				<div class="btn"><a href="{:U('Home/Lists/lists')}"><img src="__PUBLIC__/images/common/paimai_18.jpg"></a></div>
					
			</div>
			 
			
			</div>
			
		</div>
<include file="./Template/public/footer.html" />

	</body>

</html>