<include file="./Template/public/header.html" />
<div class="main">
	<div class="investor">
		<div class="banner"></div>
		<div class="info1"></div>
		<div class="info2">
			<div class="title">
				<b>项目投资方收获</b>
				<em>特金汇平台,让你拥有不一样的收获</em>
			</div>
			<div class="con">
				<ul>
					<li>
						<b><p>免去不必要的</p><p>中间费用</p></b>
						<em><img src="__PUBLIC__/images/common/tz_icon.png"></em>
					</li>
					<li>
						<b><p>详细周全的尽职</p><p>调查信息可供参考</p></b>
						<em><img src="__PUBLIC__/images/common/tz_icon2.png"></em>
					</li>
					<li>
						<b><p class="line1">独家对接项目机会</p></b>
						<em><img src="__PUBLIC__/images/common/tz_icon3.png"></em>
					</li>
					<li>
						<b><p>大量且详细的特资经纪人</p><p>信息可供选择</p></b>
						<em><img src="__PUBLIC__/images/common/tz_icon4.png"></em>
					</li>

				</ul>
			</div>
			<div class="btn1"><img src="__PUBLIC__/images/common/btn.gif"></div>
		</div>


	</div>
</div>

<include file="./Template/public/footer.html" />
	</body>
</html>
