<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<link rel="stylesheet" href="{:tempurl('__PUBLIC__/style/bootstrap.min.css')}" />
	<link rel="stylesheet" href="{:tempurl('__PUBLIC__/style/iframe.css')}" />

	<body>

		<div class="mainhtml">
			<div class="mainhtml_c">
				<div class="fr">
					<include file="./Template/public/userpro.html" />
					<div class="todo floor mt70">
						<div class="title">合伙订单</div>
						<form action="{:U('User/Common/partnerorder')}" method="get"  id="dosearch">
						<div class="mypublish">
							<div class="fl category"><em>订单类别：</em>
								<span>
									<select name="type">
										<option value="0">所有信息</option>
										<option value="1">发布信息</option>
										<option value="2">购买买断信息</option>
										<option value="3">经济人认证</option>
										<option value="4">其他</option>
									</select>
								</span>
							</div>
							<div class="fl time">时间：<input name="starttime" class="sang_Calender" type="text">
								到:&nbsp;<input name="endtime" class="sang_Calender" type="text">
								<input type="submit"  value="查询" class="btn"></div>
						</div>
						</form>
						<div class="table">
							<table class="table" border="" cellspacing="" cellpadding="">
								<tr>
									<th>订单号</th>
									<th>订单类别</th>
									<th>应付</th>
									<th>产品</th>
									<th>订单时间</th>

									<th>来源</th>
								</tr>
							<volist name="list" id="vo">
								<tr>
									<td>{$vo.sn}</td>
									<td>
										<if condition="($vo['Type'] eq 1)"> 发布信息
											<elseif condition="$vo['Type'] eq 2"/>购买信息
											<elseif condition="$vo['Type'] eq 3"/> 经济人费用
											<elseif condition="$vo['Type'] eq 4"/> 充值
											<elseif condition="$vo['Type'] eq 5"/> 买断信息
										</if>
									</td>
									<td><em class="info_num">¥{$vo.DealPrice}</em></td>
									<td>{$vo.ProductName}</td>
									<td>{$vo.CreateTime}</td>

									<td>
										<a>{:($name[$vo['CreateUser']])}</a>
										
									</td>
								</tr>
							</volist>
							</table>
						</div>

						<div class="page">
							{$page}

						</div>

					</div>

				</div>
			</div>

		</div>
		<script src="{:tempurl('__PUBLIC__/js/jquery-1.11.1.js')}"></script>
		<script src="{:tempurl('__PUBLIC__/js/main.js')}"></script>
		<script src="{:tempurl('__PUBLIC__/js/datetime.js')}"></script>

	</body>

</html>