<include file="./Template/public/header.html" />

		<div class="pub_object">
			<div class="title">
				<div class="title_c">
					<h2>资产包发布页面</h2></div>
			</div>
			<div class="main">
				<div class="object_con">
					<form id="pub_Object" enctype="multipart/form-data" action="{:U('Web/Packages/add_edit')}" method="post">
						<ul>
							<li>
								<label class="label"><span class="need"></span> 标&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;题：</label>
								<input type="text" value="" name="title" class="form-control">
							</li>
							<li>
								<label class="label"><span class="need"></span> 资产包总金额：</label>
								<input type="text" value="" name="total" class="form-control">
								<em>元</em>
							</li>

							<li>
								<label class="label"><span class="need"></span>资产来源：</label>
								<input type="text" value="" name="source" class="form-control">
							</li>

							<li>
								<label class="label"><span class="need"></span> 资产类型：</label>
								<input type="radio" name="type" value="1" />
								<label> 逾期贷款</label>
								<input type="radio" value="2" name="type" />
								<label> 企业商账</label>
								<input type="radio" value="3" name="type" />
								<label>其他债权</label>
							</li>
							<li>
								<label class="label"><span class="need"></span>项目数量：</label>
								<input type="text" value="" name="projectnum" class="form-control">
							</li>
							<li>
								<label class="label"><span class="need"></span>是否具备原始凭证：</label>
								<input type="radio" name="isorginpic" value="1" />
								<label>是</label>
								<input type="radio" value="2" name="isorginpic" />
								<label>否</label>

							</li>

							<li>
								<label class="label"><span class="need"></span>债权人姓名：</label>
								<input type="text" value="" name="owner" class="form-control">
							</li>
							<li>
								<label class="label"><span class="need"></span>债权人所在地：</label>
								<select id="s3" onchange="secondcode('#s3','#s4')" name="owneradress[]"  class="form-control" style=" width: 100px;">
									<option value selected="selected">请选择省</option>
									<volist name="codeA" id="codeV">
										<option value="{$codeV.id}|{$codeV.name}|{$codeV.code}">{$codeV.name}</option>
									</volist>
								</select>
								<select id="s4" name="owneradress[]"  class="form-control" style=" width: 100px;">
									<option value selected="selected">请选择市</option>
								</select>

								<input type="text" name="owneradress[]" placeholder="详细地址" class="form-control detaile_adress" />
							</li>
							<li>
								<label class="label"><span class="need"></span> 债权人类别：</label>
								<input type="radio" name="ownertype" value="1" />
								<label>金融机构</label>
								<input type="radio" value="2" name="ownertype" />
								<label>民间金融企业</label>
								<input type="radio" value="3" name="ownertype" />
								<label>一般企业</label>
								<input type="radio" value="4" name="ownertype" />
								<label>个人</label>
								<input type="radio" value="5" name="ownertype" />
								<label>其他</label>

							</li>

							<li>
								<label class="label"><span class="need"></span> 手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机：</label>
								<input type="text" value="" name="cellphone" class="form-control tel">
							</li>
							<li>
								<label class="label"><span class="need"></span> 补充说明：</label>
								<textarea value="" class="form-control" name="remark"></textarea>
							</li>
							<li>
								<label class="label"><span class="need"></span>转让价格：</label>
								<input type="text" value="" name="processmodle"  class="form-control" >
								<em>元</em>
							</li>
							<li>
								<label class="label"><span class="need"></span>凭证上传：</label>
								<div class="fl">
									<div class="dp-lih">注意：仅支持文件大小不超过2M的JPG、PNG格式的图像文件</div>
									<div class="dp-lig">
										<div class="dp-box">原始凭证或合同文书 </div>
										<div class="dp-box">权利证书及资料</div>
										<div class="dp-box">资产包列表</div>
									</div>

									<div class="dp-lig">
										<div class="dp-boxa">
											<a  href="javascript:void(0)">
												<img src="__PUBLIC__/images/common/up_01.png">
												<input class="up_file" type="file" name="file1" id="file1">
												<input class="up_file" type="hidden" name="orginpic"></a>
										</div>
										<div class="dp-boxa">
											<a  href="javascript:void(0)">
												<img src="__PUBLIC__/images/common/up_01.png">
												<input class="up_file" type="file" name="file2" id="file2">
												<input class="up_file" type="hidden" name="ownerpic"></a>
										</div>
										<div class="dp-boxa">
											<a  href="javascript:void(0)">
												<img src="__PUBLIC__/images/common/up_01.png">
												<input class="up_file" type="file" name="file3" id="file3">
											<input class="up_file" type="hidden" name="projectlistpic"></a>
										</div>
									</div>

								</div>
							</li>
							<if condition="session('user.MemberType') eq 4">
								<input type="hidden" name="agedili" value="{$Think.session.user.MemberId}" id="age">
								<else />
								<li class="agent">
									<div class="agent-address">
										<label class="label"><span class="need"></span>选择经纪人：</label>
										<select id="aget1" onchange="secondcode('#aget1','#aget2')"  name="address[]"  class="form-control" style=" width: 100px;" onload="secondcode('#aget1','#aget2')">
											<option value="" selected="selected">请选择省</option>
											<volist name="codeA" id="codeV">
												<option value="{$codeV.id}|{$codeV.name}|{$codeV.code}">{$codeV.name}</option>
											</volist>
										</select>
										<select id="aget2" name="address[]"  class="form-control" style=" width: 100px;">
											<option value="" selected="selected">请选择市</option>
										</select>
										<div class="agent_search">
											<input class="form-control" placeholder="搜索经纪人" id="sbname">
											<input type="button" class="btn" value="搜索" id="sbbtn" />
											<input type="hidden" name="agedili" value="" id="age">
										</div>
									</div>
									<div class="man div_scroll" id="agent">
										<volist name="age" id="avo">
										<span ageid="{$avo.MemberId}">
											<b><img src="{:empty($avo['HeadImg'])?'/static/images/common/man_01.jpg':headimg($avo['HeadImg'])}"></b>
											<em>{$avo.RealName}</em>
											<strong>
												<i class="g-star{$avo.StarLevel}"></i>
											</strong>
										</span>
										</volist>
									</div>
								</li>
							</if>
							<div class="agreen"><input type="checkbox" name="agreen" checked="">我已阅读并同意
								<a href="{:U('Home/Index/pubpro')}">《特资尽调委托协议》</a>
							</div>

							<div class="submit">
								<a href="javascript:void(0)" id="sub_mit" data_status="1">提交</a>
							</div>

						</ul>
					</form>
				</div>
			</div>

		</div>
		<!--footer -->
<include file="./Template/public/footer.html" />


<script type="text/javascript" charset="utf-8" src="{:tempurl('__PUBLIC__/js/ajaxfileupload.js')}"></script>
<script type="text/javascript" charset="utf-8" src="{:tempurl('__PUBLIC__/js/Validform_v5.3.2_min.js')}"></script>
<script type="text/javascript">
	$(function(){
		//$(".registerform").Validform();  //就这一行代码！;

		var demo=$("#pub_Object").Validform({
			tiptype:3,
			label:".label",
			btnSubmit:'#sub_mit',
			showAllError:true,
			datatype:{
				"zh1-6":/^[\u4E00-\u9FA5\uf900-\ufa2d]{1,6}$/
			},
			//默认为false，使用ajax方式提交表单数据，将会把数据POST到config方法或表单action属性里设定的地址；
			ajaxPost:false,
			postonce:true,
		});

		//通过$.Tipmsg扩展默认提示信息;
		//$.Tipmsg.w["zh1-6"]="请输入1到6个中文字符！";
		demo.tipmsg.w["zh1-6"]="请输入1到6个中文字符！";
		demo.tipmsg.r=" ";
		demo.addRule([
			{
				ele:".form-control:eq(0)",
				datatype:"*4-20"
			},
			{
				ele:".form-control:eq(1)",
				datatype:"n"
			},

			{
				ele:".form-control:eq(2)",
				datatype:"*2-16"
			},
			{
				ele:".form-control:eq(3)",
				datatype:"n"
			},
			{
				ele:".form-control:eq(4)",
				datatype:"*2-16"
			},
			{
				ele:".form-control:eq(8)",
				datatype:"m"
			},
			{
				ele:".form-control:eq(10)",
				datatype:"n"
			},

			{
				ele:"#age",
				datatype:"n"
			},

			{
				ele:":radio",
				datatype:"*"
			},
			{
				ele:"select:lt(2)",
				datatype:"*"
			},
		]);

	})
</script>
<script type="text/javascript">
	$(':file').on("change",function(){
		//uploadImage();
		var fileid= $(this).attr("id");
		//alert($(this).attr("id"));
		ajaxFileUpload(fileid);
	});
	function ajaxFileUpload(id){
		$.ajaxFileUpload(
				{
					url:"{:U('Portal/Upload/load')}",            //需要链接到服务器地址
					secureuri:false,
					fileElementId:id,                        //文件选择框的id属性
					dataType: 'json',                                     //服务器返回的格式，可以是json
					success: function (data)            //相当于java中try语句块的用法
					{

						//data=eval("("+data+")");
						$("#"+id).prev().attr("src",data.url);
						$("#"+id).next().val(data.url);
						//alert(data);
						//$('#result').html('添加成功');
					},
					error: function (data, status, e)            //相当于java中catch语句块的用法
					{
						//filterWarn("上传失败");
						//$('#result').html('添加失败');
					}
				}

		);

	}
	secondcode("#s3","#s4")
	function secondcode(getid,setid){
		var setidvar=$(getid).val(),secondrmurl="{:U('Portal/Area/codeB')}",optiontext="<option value='' selected='selected'>请选择市</option>";
		if(setidvar==""){
			$(setid).html("<option value='' selected='selected'>请选择市</option>")
			return false;
		}
		if($(setid).val()==""||$(setid).val()==null){
		}else {
			//alert($(setid).val());
			var setval = $(setid).val().split('|')[0];
		}
		var arr=setidvar.split('|')[0];
		//alert(arr[0]);
		$.ajax({
			cache: false,
			type: "POST",
			url:secondrmurl,
			data:{codeid:arr},// 你的formid
			async: true,
			error:function(request){
			},
			beforeSend:function(){},
			success:function(data){
				$.each(data,function(n,vname){
					if(setval==vname.id){
						optiontext+= "<option value='"+vname.id+"|"+vname.name+"|"+vname.code+"'selected='selected'>"+vname.name+"</option>"
					}else {
						optiontext+= "<option value='"+vname.id+"|"+vname.name+"|"+vname.code+"'>"+vname.name+"</option>"
					}

					$(setid).html(optiontext);
					//alert(vname.name);
				})
				//alert(data);

			},

		});

	}
</script>
<script type="text/javascript">
	$(function() {
		//选经纪人头像

		$('#agent').on("click","span",(function(){
			var ageid= $(this).attr("ageid");
			$("#age").val(ageid);
			$(this).addClass('select').siblings().removeClass('select');
		}));

		$("#sbbtn").on("click",function(){
			$("#aget2").trigger("change");
		});

		$("#aget2").on("change",function(){
			var dataval = $(this).val(),agethtml="";
			var sbname = $("#sbname").val();
			$.ajax({
				cache: false,
				type: "POST",
				url:"/index.php/Web/Index/ajaxage",
				data:{city:dataval,name:sbname},// 你的formid
				async: true,
				error:function(request){
				},
				beforeSend:function(){},
				success:function(data){
					$.each(data,function(n,vname){
						agethtml+= "<span ageid="+vname.MemberId+"> <b><img src=\""+vname.HeadImg+"\"></b> <em>"+vname.RealName+"</em> <strong> <i class=\"g-star"+vname.StarLevel+"\"></i> </strong> </span>";
					});
					$("#agent").html(agethtml);
				},
			});
		});
//		$("#sub_mit").click(function(){
//			var formurl= $("#pub_Object").attr("action"), status = $(this).attr("data_status"),submit =$(this);
//			if(status==2){
//				return false;
//
//			}
//			$.ajax({
//				cache: false,
//				type: "POST",
//				url:formurl,
//				data:$('#pub_Object').serialize(),// 你的formid
//				async: true,
//				error:function(request){
//					filterWarn(request);
//				},
//				beforeSend:function(){
//					//alert(submit.attr("id"));
//					submit.attr("data_status","2");
//				},
//				success:function(data){
//					filterWarn(data.info);
//					if(data.status=='1'){
//						window.location= data.url;
//					}else {
//						submit.attr("data_status","1");
//						//filterWarn(data.info);
//					}
//
//					//window.location= data.url;
//				},
//
//			});
//		});


	});
</script>
	</body>

</html>