<include file="./Template/public/header.html" />
<div class="main">
	<div class="help">
		<div class="title">隐私声明</div>
		<div class="con">
			<p>迎访问特金汇！我们以本隐私声明声明对访问者隐私保护的许诺。以下文字公开我站对信息收集和使用的情况。本站的隐私声明正在不断改进中，随着我站服务范围的扩大，我们会随时更新我们的隐私声明。我们欢迎您随时回来查看本声明。在同意特金汇服务协议（以下简称“协议”）之时，您已经同意我们按照本隐私声明来使用和披露您 的个人信息。本隐私声明的全部条款属于该协议的一部分。
			</p>

			<h2>未成年人的特别注意事项 </h2>
			<p>如果您未满18周岁，您无权使用本公司服务，因此我们希望您不要向我们提供任何个人信息。如果您未满18周岁，您只能在父母或监护人的陪同下才可以使用本公司服务。
			</p>

			<h2>用户名和密码</h2>
			<p>您打算注册成会员后，我们要求您选择一个用户名和密码，还要提供密码提示问题及其答案以便在您丢失密码后我们可以确认您的身份。您只能通过您的密码来使用您的帐号。如果您泄漏了密码，您可能丢失了您的个人识别信息，并且可能出现对您不利的后果。因此，无论任何原因危及您的密码安全，您应该立即通过拨打0731-85228688和我们取得联系。
			</p>

			<h2>注册信息</h2>
			<p>您在注册为会员时，我们要求您填写一张注册表。注册表要求提供您的真实姓名，地址，电话号码和电子邮件地址。另外，您还需提供您的公司的地址，电话号码。您还有权选择来填写附加信息。这些信息可能包括您公司所在的省份和城市，时区和邮政编码，传真号码，主页和您的职务。
			</p>

		</div>
	</div>
</div>

<include file="./Template/public/footer.html" />
	</body>

</html>