<include file="./Template/public/header.html" />
		<!-- header end -->
<div class="main">
	<div class="apply">
		<div class="banner"></div>
		<div class="box1">
			<div class="title"><span><img src="__PUBLIC__/images/common/peizi_05.jpg"></span> </div>
			<div class="con">
				特金汇平台配资服务是为部分符合条件的、已经阅读过平台上尽调报告，并有意向购买平台上大宗物业项目（土地、厂房、仓库、写字楼、商铺等）的投资者提供配资或贷款的金融服务。
			</div>
		</div>

		<div class="box2">
			<div class="title"><span><img src="__PUBLIC__/images/common/peizi_09.jpg"> </span></div>
			<div class="con">
				<span><em>1</em>配资资金成本为年化12%-20%，银行贷款综合成本为年化5%-11%</span>
				<span><em>2</em>配资服务中介费：为融资金额的2%。</span>
			</div>
		</div>
		<div class="box3">
			<div class="title"><span><img src="__PUBLIC__/images/common/peizi_12.jpg"></span></div>
			<div class="con">
				<div class="con_c">
					<div class="pic"><img src="__PUBLIC__/images/common/peizi_16.jpg"></div>
					<div class="item">
						<ul>
							<li>注册成为平台会员</li>
							<li>仔细阅览项目的相关资料付费并下载尽调报告</li>
							<li>在项目详细画面点击“申请配资”填写拟配资金额和联系方式提交等待平台联系</li>
							<li>平台联系进行线下磋商</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<include file="./Template/public/footer.html" />

	</body>

</html>