<include file="./Template/public/header.html" />

<div class="main">
	<div class="investor">
		<div class="agent">
			<div class="banner"></div>
			<div class="info3">
				<div class="title">
					<h2>关于特资经纪人</h2>
					<div class="line"></div>
				</div>
				<div class="con">
					<p>特资经纪人是经过特金汇平台专业培训，由特金汇平台特聘的拥有特殊资产从业经验的个人（以中介、拍卖机构、资产处置机构为主）。特资经纪人通过提前对项目进行尽职调查，帮助有特殊资产项目投资需求的投资方，快速了解优质的项目，快速实现项目对接。</p>
				</div>
			</div>
			<div class="info4"></div>
		</div>

		<div class="info2">
			<div class="title">
				<b>特资经纪人收获</b>
				<em>特金汇平台,让你拥有不一样的收获</em>
			</div>
			<div class="con">
				<ul>
					<li>
						<b><p>中介撮合费用</p><p>项目买断费用</p></b>
						<em><img src="__PUBLIC__/images/common/tz_icon.png"></em>
					</li>
					<li>
						<b><p>学习一门技能</p><p>提供一条赚钱的途径</p></b>
						<em><img src="__PUBLIC__/images/common/tz_icon2.png"></em>
					</li>
					<li>
						<b><p>线下尽职调查费用</p><p>查看尽调报告费用</p></b>
						<em><img src="__PUBLIC__/images/common/tz_icon3.png"></em>
					</li>
					<li>
						<b class="line3"><p>有机会成为平台股东</p><p>发展特资经纪人提成</p><p>发展成为城市合伙人</p></b>
						<em><img src="__PUBLIC__/images/common/tz_icon4.png"></em>
					</li>

				</ul>
			</div>
			<div class="btn1"><img src="__PUBLIC__/images/common/btn.gif"></div>
		</div>

	</div>
</div>

<include file="./Template/public/footer.html" />
	</body>

</html>